@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

@if (!string.IsNullOrEmpty(ErrorMessage))
{
    <p>@ErrorMessage</p>
}

@foreach(var course in Summaries)
{
    <p>@course.Title</p>
    <p>@course.Description</p>
    <p>@course.Creator</p>
    <img src="@course.ImageUrl" alt="@course.Title" />
}

